.widget-search form input[type='search'] {
    height: 60px;
    padding: 0 25px;
}

/*main-search {*/
    /*height: 60px;*/
/*}*/

.widget-search form .search-submit {
    width: 100px;
    line-height: 60px;
    height: 60px;
}

.banners .left-one {
    background-color: white;
    border: 3px solid #f27c66;
    color: #595959;
    cursor: default;
}
/*.banners .left-one:hover {*/
    /*background-color: #f27c66;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-two {
    background-color: white;
    border: 3px solid #f9cb8f;
    color: #595959;
    cursor: default;
}
/*.banners .left-two:hover {*/
    /*background-color: #f9cb8f;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-three {
    background-color: white;
    border: 3px solid #18bb7c;
    color: #595959;
    cursor: default;
}
/*.banners .left-three:hover {*/
    /*background-color: #18bb7c;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-four {
    background-color: white;
    border: 3px solid #1992c1;
    color: #595959;
    cursor: default;
}
/*.banners .left-four:hover {*/
    /*background-color: #1992c1;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-one p{
    font-size: 12px;
}


.banners .left-two p{
    font-size: 12px;
}


.banners .left-three p{
    font-size: 12px;
}


.banners .left-four p{
    font-size: 12px;
}

.cat-left-first, .cat-left-second, .cat-right-first, .cat-right-second, .cat-right-sub1, .cat-right-sub2{
    margin-bottom: 30px;
}
.cat-left-first a, .cat-left-second a, .cat-right-first a, .cat-right-second a, .cat-right-sub1 a, .cat-right-sub2 a{
    vertical-align: top;
}
.cat-left-first {
    min-height: 522px;
}
.cat-left-first > * {
    vertical-align: top;
}

.cat-right-sub1 , .cat-right-sub2 {
    width: 45%;
}
.cat-right-sub1 {
    float: left;
}
.cat-right-sub2 {
    float: right;
}
.cat-right-sub1 .banner-offer, .cat-right-sub2 .banner-offer{
    min-height: 263px;
}

.cat-right-first {
    min-height: 230px;
}

.cat-left-second, .cat-right-second{
    min-height: 235px;
}

.banner-offer.bg-color-1alt {
    background-color: #d36c59 !important;
}
.banner-offer.bg-color-5alt {
    background-color: #969696 !important;
}
.banner-offer.bg-color-5 {
    background-color: #b0b0b0 !important;
}
.banner-offer.bg-color-6 {
    background-color: #5f5f5f !important;
}
.banner-offer.bg-color-6alt {
    background-color: #454545 !important;
}

.slick-hero-slider-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

.slick-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

.course-item .course-name .price {
    float: left;
    color: #ffffff;
}
.course-item .course-name h3 {
    float: right;
    color: #ffffff;
}
.course-item .description{
    max-height: 160px;
    min-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: inline-block;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/*.course-item .description span{*/
    /*font-size: 12px;*/
    /*display: inline-block;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*width: 90%;*/
    /*line-height: 1em;*/
    /*max-height: 2em;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*font-weight: bold;*/
    /*margin-left: 5.5%;*/
/*}*/

.main-nav ul li {
    float: right;
}
/*.main-nav ul li ul{*/
    /*right: 0px !important;*/
    /*left: -100px !important;*/
/*}*/
/*.main-nav ul .home ul, #menu-i6tem-34 ul, #menu-item-38 ul, #menu-item-41 ul, #menu-item-46 ul{*/
    /*right: 0px !important;*/
    /*left: -100px !important;*/
/*}*/
main {

}
/*.mian-nav ul .home a:before {*/
    /*display: none;*/
/*}*/

.footer-nav ul li {
    float: right;
}

.footer-nav>ul>li>a:before {
    content: "|";
    color: #8f96a2;
    margin-left: 18px;
}

.footer-nav>ul>li>a:after {
    content: none;
}

.grid-col-row {
    display: flex;
    flex-direction: row-reverse;
}

address {
    direction: rtl;
}

.footer-social {
    float: right;
    direction: rtl;
}

/*.footer-about address a.phone-number:after {*/
    /*content: "\f095";*/
/*}*/

/*.footer-about address a:after {*/
    /*vertical-align: middle;*/
    /*color: #f7f7f7;*/
    /*font-family: FontAwesome;*/
    /*padding-right: 9px;*/
/*}*/

/*.footer-about address a.phone-number:before {*/
    /*content: none;*/
/*}*/

/*.footer-about address a:before {*/
    /*content: none;*/
/*}*/
