.login-block .form-group .input-icon {
    position: absolute;
    left: 1px;
    right: auto;
    top: 10px;
    width: 38px;
    height: 24px;
    text-align: right;
    border-left: 1px solid #ececec;
    color: #ccc;
    font-size: 18px;
    line-height: 24px;
    text-shadow: none;
}
.form-group{
    direction: rtl;
}
.input-icon{
    direction: ltr;
}

.git-btn{

    margin-left: 85px;
    margin-bottom:30px;
    float: left;
}
.g-btn{
    margin-right: 80px;
    margin-bottom:30px;
    float: right;
}

.reg-span-or {
    display: block;
    position: absolute;
    left: 40%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 120px;
    text-align: center;
}

input[type="text"],
input[type="password"] ,
input[type="email"],
input[type="number"],
input[type="tel"]{
    border: 1px solid #e6e6e6;
    line-height: 34px;
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: #595959;
    width: 100%;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

