
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import url(../fonts/fontiran.css);
* {
    box-sizing: border-box;
}
.row1{
    width: 100%;
    height: 100px;
}
.col-111 {width: 25%;}
.col-112 {width: 25%;}
.col-113 {width: 25%;}
.col-114 {width: 25%;}
[class*="col-"] {
    float: right;
    padding: 15px;
    border: 1px solid red;
}
.cws-button.bt-color-4.border-radius.alt.large {
    padding: 19px 10px 19px 20px;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;


}
.category-button {
    display: block;

    color: blueviolet;
    font-size: large;
    border: 0px solid ;

    background-color: transparent;
    padding: 19px 10px 19px 20px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
}
.dollar{
    float: left;
}
.page-teacher{
    text-align: center;
    width: 100%;

}
.margin-none{
    margin: 0;
}
info-boxes.info-message {
    background-color: #4bbcd7;
}


.page-teacher a{
    display: block;
    float: left;
    width: 150px;
    height: 150px;
    /*
    border: 1px solid #f2f2f2;
    */
    border-right: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 38px;
    color: #333e4f;
}
.page-teacher a.active{
    background-color: #f27c66;
    color: #ffffff;
    border-color: #f27c66;
}
.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}
.first{
    padding-top: 0 !important;
}
section{
    padding: 40px 0 40px 0;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;

}
.second{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 24px;
    float: left;
    width: 100%;
    height: 200px;


}
.title{
    margin-bottom: 20px;
    display: block;
}
.nav{
    text-align: right;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
h2 + .nav + * {
    clear: both;
}
.nav.align-left {
    text-align: left;
}

.grid-col-9 {
        width: 100%;
    }
* {box-sizing:border-box}
.att{
    width: 100%;
    height: auto;
    background-color: pink;

}


.price{
    width: 100px;
    height: 100px;
    left:150px;
    background-color: #00A0D1;
    position:relative;
}

.category{
    width: 100px;
    height: 100px;
    left:450px;
    background-color:blueviolet;
    position:relative;
}
#duration{
    width: 100px;
    height: 100px;
    left:350px;
    background-color: red;
    position:relative;
}
.rate{
    width: 100px;
    height: 100px;
    left:250px;
    background-color: #00b85d;
    position:relative;
}
/* Slideshow container */
.teachers {
    width: 100px;
    height: 100px;
    position: relative;
    left: 30px;
    /*margin: auto;*/
}

.teacher {
    display: none;
}

.dollar:after {
    content: 'ریال';
    font-size: medium;
}

/**/


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


div.stars {

    width: 270px;

    display: inline-block;

}



input.star { display: none; }



label.star {

    float: right;

    padding: 10px;

    font-size: 36px;

    color: #444;

    transition: all .2s;

}



input.star:checked ~ label.star:before {

    content: '\f005';

    color: #FD4;

    transition: all .25s;

}



input.star-5:checked ~ label.star:before {

    color: #FE7;

    text-shadow: 0 0 20px #952;

}



input.star-1:checked ~ label.star:before { color: #F62; }



label.star:hover { transform: rotate(-15deg) scale(1.3); }



label.star:before {

    content: '\f006';

    font-family: FontAwesome;

}